<h1>ID: {{bookinstance._id}}</h1>

<p><strong>Title:</strong>
  <a href="{{bookinstance.book.url}}">{{bookinstance.book.title}}</a></p>
<p><strong>Imprint:</strong> {{bookinstance.imprint}}</p>

<p><strong>Status:</strong>
  {{#if (eq bookinstance.status "Available")}}
    <span class="text-success">{{bookinstance.status}}</span>
  {{else if (eq bookinstance.status "Maintenance")}}
    <span class="text-danger">{{bookinstance.status}}</span>
  {{else}}
    <span class="text-warning">{{bookinstance.status}}</span>
  {{/if}}
</p>

{{#if (neq bookinstance.status "Available")}}
  <p><strong>Due back:</strong> {{bookinstance.due_back_formatted}}</p>
{{/if}}

<hr />
<hr />
<p>Do you really want to delete this Book instance?</p>

<form method="POST" action="{{bookinstance.url}}/delete">
  <div class="form-group">
    <input
      id="bookinstanceid"
      class="form-control"
      type="hidden"
      name="bookinstanceid"
      value="{{bookinstance._id}}"
    />
  </div>
  <button class="btn btn-primary" type="submit">Delete</button>
</form>
<div style="display: flex; gap: 10px; font-weight: 900;">

  <p>
    <a href="{{bookinstance.url}}/update">Update bookinstance</a>
  </p>
</div>